body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content-holder {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	width: 800px;
	padding: 1em 60px;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.7em;
	color: inherit;
	background-color: #eeeeee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

ul.menu {
	list-style-type: none;
	display: inline;
}

li.menu-item {
	cursor: pointer;
	float: right;
	margin: 1em;
	padding: .5em;
	width: 9em;
	text-align: center;
	background-color: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

h1 {
	text-align: center;
	clear: both;
	margin-top: 3em;
}

#email {
	text-align: center;
}